[submodule "tech-challenge-s1"]
	path = tech-challenge-s1
	url = git@github.com:13SOAT-andromeda/tech-challenge-s1.git
[submodule "tech-challenge-user-authentication"]
	path = tech-challenge-user-authentication
	url = git@github.com:13SOAT-andromeda/tech-challenge-user-authentication.git
[submodule "iac-tech-challenge-infra"]
	path = iac-tech-challenge-infra
	url = git@github.com:13SOAT-andromeda/iac-tech-challenge-infra.git
[submodule "tech-challenge-user-authorizer"]
	path = tech-challenge-user-authorizer
	url = git@github.com:13SOAT-andromeda/tech-challenge-user-authorizer.git
[submodule "iac-tech-challenge-data"]
	path = iac-tech-challenge-data
	url = git@github.com:13SOAT-andromeda/iac-tech-challenge-data.git
[submodule "iac-tech-challenge-gateway"]
	path = iac-tech-challenge-gateway
	url = git@github.com:13SOAT-andromeda/iac-tech-challenge-gateway.git
[submodule "tech-challenge-notification-service"]
	path = tech-challenge-notification-service
	url = git@github.com:13SOAT-andromeda/tech-challenge-notification-service.git
